
@{
    ViewBag.Title = "CheckQuiz";
}

<h2>CheckQuiz</h2>

<h3><label>Wynik: @ViewBag.Result</label></h3>

<p>@Html.ActionLink("Przejdź do strony głównej", "Index",null, new { @class = "btn btn-default" })</p>
